@import '~normalize.css';
@import 'HelveticaRegular';
@import 'HelveticaThin';

@fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/css/all.css';


* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    border-collapse: collapse;
    text-align: center;

}

h1{
  font-family: HelveticaThin;
  color: blue;
}
h2{
  font-family: HelveticaRegular;
  color: red;
}

