@import '~normalize.css';
@import 'HelveticaRegular';
@import 'HelveticaThin';
@import 'HelveticaNevueCry';

@fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/css/all.css';

@Halvetica: "HelveticaNevueCry";

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    border-collapse: collapse;

}

header{
  height: 80px;
  width: 100%;
  background-color: #F2EEEE;
  .container{
    .row{
      padding: 16px 0;
      justify-content: space-evenly;
      align-items: center;
      .logo{
        display: flex;
        justify-content: flex-start;
      }
      .header_flexEnd{
        display: flex;
        justify-content: flex-end;
        select{
          margin: 0 35px;
          border: none;
          background-color: #F2EEEE;
          font-size: 14pt;
          font-family: @Halvetica;
          font-weight: bold;
         }
        .log{
          margin-left: 35px;
          width: 250px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          a{
            text-decoration: none;
            color: black;
            font-family: @Halvetica;
            font-weight: bold;
            font-size: 14pt;
          }
          button{
            border: none;
            border-radius: 6px;
            background-color: #FF634A;
            color: white;
            padding: 16px 50px;
          }
        }
      }
    }
  }

}
main{
padding: 64px 0;
  .container{
    padding: 0;
  }
  .title{
    h1{
      font-family: @Halvetica;
      margin: 0;
      font-weight: bold;
      font-size: 32pt;
    }
  }
  .selectors{
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    select{
      border: none;
      font-family: @Halvetica;
      font-weight: bold;
      color: black;
      font-size: 14pt;
      option{
        border: none;

        color: black;
      }
    }
    .params{
      margin-left: -20px;
      select{
        margin: 0 20px;
      }
    }
  }
  .peoples{
    margin: 24px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .people{
      width: 48%;
      height: 25em;
      margin: 8px;
      border-radius: 6px;
      overflow: hidden;
      .background{
        width: 40em;
        height: 25em;
        img{
          width: auto;
          height: inherit;
        }
      }
      .information{
        height: inherit;
        padding: 20px 25px;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.1) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.1) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#1a000000',GradientType=0 );
        color: white;
        position: relative;
        top: -25em;
        .age{
          padding-bottom: 8px;
          h3{
            font-family: @Halvetica;
            font-weight: bold;
            font-size: 14pt;
          }
        }
        .name{
          margin: 8px 0;
          height: 32px;
          align-items: center;
          h1{
            font-family: @Halvetica;
            font-weight: bold;
            font-size: 24pt;
          }
        }
        .params{
          margin-top: 8px;
          margin-left: -12px;
          height: 25px;
          display: flex;
          p{
            opacity: 90%;
            font-family: @Halvetica;
            margin: 0 12px;
            font-size: 14pt;
          }

        }
      }
    }
  }
}
footer{
  height: 200px;
  background: #F2EEEE;
  padding: 48px 0;
  .topLine{
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
    .socNetworks{
      display: flex;
      .icon{
        border: none;
        margin: 0 8px;
       // padding: 12px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FF634A;
        border-radius: 6px;
      a{
        color: white;
        font-size: 16px;
        text-decoration: none;
      }
      }
    }
  }
  .bottonLine{
    display: flex;
    justify-content: space-between;
    font-size: 14pt;
    color: #100F0F;
    a{
      color: #100F0F;
      text-decoration: none;
    }

  }

}